.radio {
    border-radius: 3px;
    outline: none;
    border:0px;
    margin-left:30px;
    font-size:15px;
    padding:5px 20px;
    color:white;
    cursor: pointer;

    &_theme {
        &_default{
            background-color: #383838;   
        }
        &_search-bar-extra {
            background-color: #e11c45;  
        }

        &_search-bar-default {
            background-color: #e11c45;  
        }
        &_results-bar-extra{
            background-color: rgba(0,0,0,0);
            color:darkblue;
            font-size:20px;
        }
        &_results-bar-default{
            background-color: rgba(0,0,0,0);
            color:black;
            font-size:20px;
        }
        &_light-pink{
            background-color: white;
            color:#e11c45;
        }
    }

    &_size {
        &_large {   
            padding:8px 60px;
            font-size:20px;
            margin-left:0px;
        }
        &_medium{
            padding:5px 40px;
            font-size:15px;
            margin-left:0px;
        }
        &_small{}
    }
}